html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: visible;
  /* winphone8和android4+ */
  -webkit-overflow-scrolling: touch;
  /* ios5+ */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*去除链接边框，在三星机子上没用*/
}
body {
  font-family: PingFang SC, Microsoft YaHei, Arial, Helvetica Neue Light, Source Han Sans CN, sans-serif;
  background: #f6f4f1;
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus {
  background-color: transparent;
}
a:active,
a:focus,
input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}
menu,
ol,
ul {
  list-style: none;
}
nav ul,
nav ol {
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
  -webkit-touch-callout: none;
  vertical-align: bottom;
}
svg:not(:root) {
  overflow: hidden;
}
.none {
  display: none;
}
.clear {
  overflow: hidden;
  clear: both;
  height: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.active {
  color: #ff950b!important;
}
.scale {
  position: relative;
}
.scale:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #8e8e8e;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
}
