@charset "utf-8";
html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: visible;
  /* winphone8和android4+ */
  -webkit-overflow-scrolling: touch;
  /* ios5+ */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*去除链接边框，在三星机子上没用*/
}
body {
  font-family: PingFang SC, Microsoft YaHei, Arial, Helvetica Neue Light, Source Han Sans CN, sans-serif;
  background: #f6f4f1;
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus {
  background-color: transparent;
}
a:active,
a:focus,
input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}
menu,
ol,
ul {
  list-style: none;
}
nav ul,
nav ol {
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
  -webkit-touch-callout: none;
  vertical-align: bottom;
}
svg:not(:root) {
  overflow: hidden;
}
.none {
  display: none;
}
.clear {
  overflow: hidden;
  clear: both;
  height: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.active {
  color: #ff950b!important;
}
.scale {
  position: relative;
}
.scale:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #8e8e8e;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
}
body {
  background: #ffffff;
  width: 100%;
  height: 100%;
}
.theme-color {
  background: transparent!important;
}
.status-bar {
  height: 0.53333333rem;
  background: transparent;
}
.nav-bar {
  background: #2c2c2c;
}
.nav-bar .nav-content {
  width: 100%;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  position: relative;
  overflow: hidden;
}
.nav-content .nav-back {
  position: absolute;
  left: 0.28rem;
}
.nav-content .nav-back img {
  max-width: 0.26666667rem;
  margin-right: 0.2rem;
  vertical-align: text-bottom;
}
.nav-content .nav-back a {
  color: #fff;
  font-size: 16px;
}
[data-dpr="1.5"] .nav-content .nav-back a {
  font-size: 24px;
}
[data-dpr="2"] .nav-content .nav-back a {
  font-size: 32px;
}
[data-dpr="2.5"] .nav-content .nav-back a {
  font-size: 40px;
}
[data-dpr="2.75"] .nav-content .nav-back a {
  font-size: 44px;
}
[data-dpr="3"] .nav-content .nav-back a {
  font-size: 48px;
}
[data-dpr="4"] .nav-content .nav-back a {
  font-size: 64px;
}
.nav-content .headline {
  width: 3.33333333rem;
  margin: 0 auto;
  font-size: 19px;
  color: #fff;
  text-align: center;
}
[data-dpr="1.5"] .nav-content .headline {
  font-size: 28px;
}
[data-dpr="2"] .nav-content .headline {
  font-size: 37px;
}
[data-dpr="2.5"] .nav-content .headline {
  font-size: 46px;
}
[data-dpr="2.75"] .nav-content .headline {
  font-size: 51px;
}
[data-dpr="3"] .nav-content .headline {
  font-size: 56px;
}
[data-dpr="4"] .nav-content .headline {
  font-size: 74px;
}
.slider-layer .slider-content {
  height: 4.90666667rem;
  width: 100%;
}
.slider-layer .slider-content img {
  width: 100%;
  height: 100%;
}
.age-show {
  padding: 0.66666667rem 0.33333333rem 0.46666667rem;
}
.age-show ul li {
  width: 25%;
  float: left;
  text-align: center;
}
.age-show ul li img {
  width: 1.57333333rem;
  height: 1.57333333rem;
  margin: 0 auto;
}
.age-show ul li p {
  color: #333;
  font-size: 17px;
}
[data-dpr="1.5"] .age-show ul li p {
  font-size: 26px;
}
[data-dpr="2"] .age-show ul li p {
  font-size: 34px;
}
[data-dpr="2.5"] .age-show ul li p {
  font-size: 43px;
}
[data-dpr="2.75"] .age-show ul li p {
  font-size: 47px;
}
[data-dpr="3"] .age-show ul li p {
  font-size: 51px;
}
[data-dpr="4"] .age-show ul li p {
  font-size: 68px;
}
.hot-title {
  position: relative;
  width: 5.44rem;
  margin: 0 auto;
  height: 0.70666667rem;
  line-height: 0.70666667rem;
}
.hot-title .line-by {
  width: 1.12rem;
  height: 0.04rem;
  background: #FB8B8B;
  position: absolute;
  top: 0.33333333rem;
}
.hot-title .line-by:first-child {
  left: 0;
}
.hot-title .line-by:last-child {
  right: 0;
}
.hot-title p {
  width: 2.6rem;
  height: 0.70666667rem;
  line-height: 0.70666667rem;
  background: #FF8F8F;
  color: #fff;
  font-size: 15px;
  margin: 0 auto;
  border-radius: 0.26666667rem;
  text-align: center;
}
[data-dpr="1.5"] .hot-title p {
  font-size: 23px;
}
[data-dpr="2"] .hot-title p {
  font-size: 30px;
}
[data-dpr="2.5"] .hot-title p {
  font-size: 38px;
}
[data-dpr="2.75"] .hot-title p {
  font-size: 41px;
}
[data-dpr="3"] .hot-title p {
  font-size: 45px;
}
[data-dpr="4"] .hot-title p {
  font-size: 60px;
}
.recommended {
  width: 9.89333333rem;
  height: 6.61333333rem;
  margin: 0.57333333rem auto 0.34666667rem;
  border: none;
  background: url(../images/hot-bg.png) no-repeat;
  background-size: 100% 100%;
}
.recommended p {
  font-size: 14px;
  text-align: center;
  color: #CD023A;
  padding: 0.29333333rem 0 0.57333333rem;
}
[data-dpr="1.5"] .recommended p {
  font-size: 21px;
}
[data-dpr="2"] .recommended p {
  font-size: 28px;
}
[data-dpr="2.5"] .recommended p {
  font-size: 35px;
}
[data-dpr="2.75"] .recommended p {
  font-size: 39px;
}
[data-dpr="3"] .recommended p {
  font-size: 42px;
}
[data-dpr="4"] .recommended p {
  font-size: 56px;
}
.recommended p.orange {
  color: #DF7B11;
}
.recommended p.green {
  color: #7D9912;
}
.recommended p.blue {
  color: #208EC1;
}
.recommended .father-box {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.recommended .child-box {
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
}
.recommended .child-box div {
  width: 2.6rem;
  height: 3.30666667rem;
  margin: 0 auto 0.13333333rem;
}
.recommended .child-box div img {
  width: 100%;
  height: 100%;
}
.recommended .child-box span {
  color: #333;
  font-size: 14px;
}
[data-dpr="1.5"] .recommended .child-box span {
  font-size: 21px;
}
[data-dpr="2"] .recommended .child-box span {
  font-size: 28px;
}
[data-dpr="2.5"] .recommended .child-box span {
  font-size: 35px;
}
[data-dpr="2.75"] .recommended .child-box span {
  font-size: 39px;
}
[data-dpr="3"] .recommended .child-box span {
  font-size: 42px;
}
[data-dpr="4"] .recommended .child-box span {
  font-size: 56px;
}
.recommended legend {
  width: 1.06666667rem;
  height: 1.06666667rem;
}
.recommended legend img {
  width: 100%;
  height: 100%;
}
.search-layer {
  padding: 0.2rem;
  background: #ECECEC;
  width: 100%;
  box-sizing: border-box;
}
.search-layer input {
  border: 1px solid #e6e6ea;
  border-radius: 0.13333333rem;
  height: 0.74666667rem;
  line-height: 0.74666667rem;
  width: 100%;
  font-size: 13px;
  text-indent: 0.97333333rem;
  background: #ffffff url("../images/search.png") no-repeat 0.37333333rem 0.22666667rem;
  background-size: 4%;
}
[data-dpr="1.5"] .search-layer input {
  font-size: 20px;
}
[data-dpr="2"] .search-layer input {
  font-size: 26px;
}
[data-dpr="2.5"] .search-layer input {
  font-size: 33px;
}
[data-dpr="2.75"] .search-layer input {
  font-size: 36px;
}
[data-dpr="3"] .search-layer input {
  font-size: 39px;
}
[data-dpr="4"] .search-layer input {
  font-size: 52px;
}
.book-list {
  padding: 0.44rem 0.49333333rem 0;
}
.book-list ul li {
  float: left;
  text-align: center;
  padding-bottom: 0.36rem;
  padding-right: 0.6rem;
}
.book-list ul li div {
  width: 2.6rem;
  margin: 0 auto 0.13333333rem;
  height: 3.30666667rem;
}
.book-list ul li div img {
  width: 100%;
  height: 100%;
}
.book-list ul li p {
  color: #333;
  font-size: 14px;
}
[data-dpr="1.5"] .book-list ul li p {
  font-size: 21px;
}
[data-dpr="2"] .book-list ul li p {
  font-size: 28px;
}
[data-dpr="2.5"] .book-list ul li p {
  font-size: 35px;
}
[data-dpr="2.75"] .book-list ul li p {
  font-size: 39px;
}
[data-dpr="3"] .book-list ul li p {
  font-size: 42px;
}
[data-dpr="4"] .book-list ul li p {
  font-size: 56px;
}
.book-list ul li:nth-child(3n) {
  padding-right: 0;
}
.play-page {
  width: 100%;
  height: 100%;
  background: url("../images/bg.png") no-repeat;
  background-size: 100%;
}
.play-page .icon-content {
  width: 6.46666667rem;
  height: 4.93333333rem;
  margin: 2.25333333rem auto 0;
}
.play-page .icon-content img {
  width: 100%;
  margin-bottom: 1.17333333rem;
}
.play-page .icon-content .name {
  text-align: center;
  color: #7C4D00;
}
.play-page .icon-content .name p {
  color: #7C4D00;
  font-size: 23px;
}
[data-dpr="1.5"] .play-page .icon-content .name p {
  font-size: 34px;
}
[data-dpr="2"] .play-page .icon-content .name p {
  font-size: 45px;
}
[data-dpr="2.5"] .play-page .icon-content .name p {
  font-size: 56px;
}
[data-dpr="2.75"] .play-page .icon-content .name p {
  font-size: 62px;
}
[data-dpr="3"] .play-page .icon-content .name p {
  font-size: 68px;
}
[data-dpr="4"] .play-page .icon-content .name p {
  font-size: 90px;
}
.play-page .icon-content .name span {
  font-size: 20px;
}
[data-dpr="1.5"] .play-page .icon-content .name span {
  font-size: 30px;
}
[data-dpr="2"] .play-page .icon-content .name span {
  font-size: 40px;
}
[data-dpr="2.5"] .play-page .icon-content .name span {
  font-size: 50px;
}
[data-dpr="2.75"] .play-page .icon-content .name span {
  font-size: 55px;
}
[data-dpr="3"] .play-page .icon-content .name span {
  font-size: 60px;
}
[data-dpr="4"] .play-page .icon-content .name span {
  font-size: 80px;
}
.play-page .bottom-btn {
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 1.13333333rem;
}
.play-page .bottom-btn a {
  display: inline-block;
}
.play-page .bottom-btn a:nth-of-type(2) {
  padding: 0 1.72rem;
}
.play-page .bottom-btn img {
  vertical-align: middle;
}
